@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  color: #3a3a3a;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #eeeeee;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.left-links, .right-links {
  display: flex;
  gap: 16px;
  padding: 8px;
}

.left-links {
  margin-left: 16px;
}

.right-links {
  margin-right: 16px;
}